.side_bar
  = link_to(new_square_path) do
    .side_bar__button
      新規作成
  - unless @square.id.nil? then
    = link_to("/squares/#{@square.id}",method: 'delete') do
      .side_bar__button
        削除
  - if @squares.length != 0 then
    .side_bar__title
      目標一覧
    .side_bar__list
      - @squares.each do |square|
        = link_to(square_path(square),class: "side_bar__link") do
          .side_bar__link--title
            = square.name
          .side_bar__dates
            .side_bar__date--create
              = timestamp_created(square)
            .side_bar__date--update
              = timestamp_updated(square)
