.sidebar
  = link_to(new_square_path) do
    .sidebar__button
      新規作成
  - unless @square.id.nil? then
    = link_to("/squares/#{@square.id}",method: 'delete') do
      .sidebar__button
        削除
  .sidebar__title
    Featured
  .sidebar__list
    - @squares.each do |square|
      = link_to(square_path(square),class: "sidebar__link") do
        .sidebar__link--title
          = square.name
        .sidebar__dates
          .sidebar__date--create
            = timestamp_created(square)
          .sidebar__date--update
            = timestamp_updated(square)
