= render "shared/header"
= render "shared/sub_header"

.square__main
  .square__main--sidebar
    = render "sidebar"
  .square__main--square
    .square
      .square__main--date
        = timestamp_create_update(@square)
      = render "square"
