= render "shared/header"
= render "shared/sub_header"

.diary
  .side_bar
    .side_bar__title
      日記一覧
    .side_bar__list
      - @diaries.each do |diary|
        = link_to("#diary__#{diary.id}",class: "side_bar__link") do
          .side_bar__link--title
            = diary.plan.name
          .side_bar__dates
            .side_bar__date--create
              = diary.plan.date

  .diary__cards
    = paginate @diaries
    = render @diaries




