= render "shared/header"
= render "shared/sub_header"

.user__main
  .side_bar
    = link_to edit_user_registration_path do
      .side_bar__button
        アカウント編集

  .user__show
    .user__show--title
      ユーザー情報
    .user__show--box
      .user__show--flex-box
        .user__show--sub-title
          .fas.fa-user-alt
          ユーザー名 :
        .user__show--text
          = @user.nickname
      .user__show--flex-box
        .user__show--sub-title
          .far.fa-envelope
          メールアドレス :
        .user__show--text
          = @user.email
      .user__show--flex-box
        .user__show--sub-title
          .fas.fa-users
          グループ名 :
        .user__show--text
          = @user.groups.first.name
