%nav.navbar.navbar-dark.bg-dark.mypage_header
  .pull-right
    = link_to "目標管理", "/squares",{class: "ml-3 header_btn_color"}
    - unless current_user.groups.empty?
      = link_to "予定", group_plans_path(current_user.groups.first),{class: "ml-3 header_btn_color"}
      = link_to "diary", "/diaries",{class: "ml-3 header_btn_color"}
    - if current_user.groups.empty?
      = link_to new_group_path,{class: "ml-3 header_btn_color"} do
        .fas.fa-users
        group
    - else
      = link_to group_path(current_user.groups.first),{class: "ml-3 header_btn_color"} do
        .fas.fa-users
        group
    = link_to "profile", user_path(current_user), {class: "ml-3 header_btn_color"}
  .pull-left
.space_header
