.wrappar
  = render "shared/header"

  .main
    .main__image
      = image_tag('/assets/rowing.jpg',class: "img-fluid")
      .main__text
        日々の練習をより戦略的に

    .main__topics
      .main__topic
        .main__topic--image
          = image_tag("/assets/start-1590051_1920.jpg",class: "main__topic--image-round")
        .main__topic--title
          体力向上
        .main__topic--text
          これまでよりも効率的に体力づくり・身体能力の向上を行えます。戦略を立てることにより無駄なく行え、怪我の防止対策も考慮しながら行うことができます。

      .main__topic
        .main__topic--image
          = image_tag("/assets/hand-3190204_1920.jpg",class: "main__topic--image-round")
        .main__topic--title
          問題解決力
        .main__topic--text
          自ら考え実行することによって、問題解決能力を身につけることができます。戦略思考を自然と身につけることができます。

      .main__topic
        .main__topic--image
          = image_tag("/assets/hands-2847508_1920.jpg",class: "main__topic--image-round")
        .main__topic--title
          コミュニケーション
        .main__topic--text
          コメントによるコミュニケーションを図ることができます。モチベーションアップへの取り組みや課題解決に向けたアドバイスを行うことができます。

  %footer
