.card.plan
  .card-body
    %h5.card-title
      = plan.name
    %h6.card-subtitle.mb-2.text-muted
      = plan.date
    %p.card-text
      = plan.text

    = link_to "日記作成",new_plan_diary_path(plan), plan_id: plan.id
    = link_to "削除","/plans/#{plan.id}",method: "delete"
