= render "shared/header"
= render "shared/sub_header"

.plans

  .sidebar
    = link_to(new_plan_path) do
      .sidebar__button
        新規作成
    .sidebar__title
      Featured
    .sidebar__list
      - @plans.each do |plan|
        = link_to("",class: "sidebar__link") do
          .sidebar__link--title
            = plan.name
          .sidebar__dates
            .sidebar__date--create
              = timestamp_created(plan)
            .sidebar__date--update
              = timestamp_updated(plan)

  - if !@plans.nil?
    .plans__main
      .plans__zone
        = render @plans


