= render "shared/header"
= render "shared/sub_header"

.plans
  .side_bar
    = link_to new_plan_path do
      .side_bar__button
        新規作成
    .side_bar__title
      予定一覧
    .side_bar__list
      - if !@plans.length.nil?
        - @plans.each do |plan|
          = link_to("",class: "side_bar__link") do
            .side_bar__link--title
              = plan.name
            .side_bar__dates
              .side_bar__date--create
                = timestamp_created(plan)
              .side_bar__date--update
                = timestamp_updated(plan)

  - if !@plans.nil?
    .plans__zone
      = render @plans
